
// // @import '_colors.scss';
@use './helper/combine' as *;

.container{
  display: flex;
  flex-direction: column ;
  form{
    display: flex;
    flex-flow: column nowrap;
    margin: 5em 1em 1em 1em;
    justify-content: center;
    align-items:center;
    h3{
      color:$darkPrimary;    
    }
  input[type="text"]{
    width: 100%;
    max-width: 400px;
    padding: 0.6em;
    border:none;
    border-bottom:1px solid gray;
    margin: 2em 1em;
  }
  }
}
