@keyframes float {
  0% {
    transform: translateY(0);
  }
  50%{
    transform: translateY(5px);
  }
  100%{
    transform: translateY(0);
  }
}

.swiper-container{
  img{
    animation: float 3s ease infinite forwards;
  }
}
.weather-basic{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.small-text{
  font-size: 13px;
}

.swiper-pagination-bullet{
  background-color: white;
  opacity: 0.6;
}
.swiper-pagination-bullet-active{
  background-image: linear-gradient(to right top, #fff29b, #a8f1af, #47e6dd, #28d0ff, #8cb1fd);
  opacity:1;
}